@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 
R (0)
G (110)
B (255 */

@layer base {
  :root {
    --gradient: linear-gradient(to top left, #215f00, #e4e4d9);
    --background: 105 100% 98.38%;
    --foreground: 105 10% 0.76%;

    --muted: 105 10% 91.9%;
    --muted-foreground: 105 5% 41.9%;

    --popover: 105 10% 91.9%;
    --popover-foreground: 105 10% 0.95%;

    --card: 105 10% 91.9%;
    --card-foreground: 105 10% 0.95%;

    --border: 105 15% 89.76%;
    --input: 105 15% 89.76%;

    --primary: 105 100% 19%;
    --primary-foreground: 105 2% 91.9%;

    --secondary: 105 5% 95.95%;
    --secondary-foreground: 105 7% 11.9%;

    --accent: 105 5% 95.95%;
    --accent-foreground: 105 7% 11.9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 105 100% 19%;

    --radius: 0.5rem;
  }

  .dark {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #3ca55c, #b5ac49);

    --background: 147 30.549999999999997% 3.52%;
    --foreground: 147 4.699999999999999% 97.2%;

    --muted: 147 23.5% 13.2%;
    --muted-foreground: 147 4.699999999999999% 54.4%;

    --popover: 147 55.6% 5.72%;
    --popover-foreground: 147 4.699999999999999% 97.2%;

    --card: 147 55.6% 5.72%;
    --card-foreground: 147 4.699999999999999% 97.2%;

    --border: 147 23.5% 13.2%;
    --input: 147 23.5% 13.2%;

    --primary: 147 47% 44%;
    --primary-foreground: 147 4.699999999999999% 97.2%;

    --secondary: 147 23.5% 13.2%;
    --secondary-foreground: 147 4.699999999999999% 97.2%;

    --accent: 147 23.5% 13.2%;
    --accent-foreground: 147 4.699999999999999% 97.2%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 147 4.699999999999999% 97.2%;

    --ring: 147 47% 44%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.dotPattern {
  background-image: radial-gradient(rgb(35, 40, 68) 1px, transparent 1px);
  background-size: 25px 25px;
}

.use-automation-zoom-in {
  animation: automation-zoom-in 0.5s;
}

@keyframes automation-zoom-in {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
