@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 
R (0)
G (110)
B (255 */

@layer base {
  :root {
    --background: 216 100% 98.04%;
    --foreground: 213.6 100% 4.9%;

    --primary: 214.12 100% 50%;
    --primary-foreground: 0 0% 100%;

    --card: 216 100% 98.04%;
    --card-foreground: 213.6 100% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 213.6 100% 4.9%;

    --secondary: 214.74 100% 92.55%;
    --secondary-foreground: 216 100% 0.98%;

    --muted: 213.6 100% 95.1%;
    --muted-foreground: 0 0% 40%;

    --accent: 213.6 100% 95.1%;
    --accent-foreground: 214.12 100% 50%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 90.2%;
    --input: 0 0% 90.2%;
    --ring: 214.12 100% 50%;

    --radius: 0.5rem;
  }

  .dark {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #69eacb, #eaccf8, #6654f1);

    --background: 176 48.75% 5.36%;
    --foreground: 176 7.5% 98.35%;

    --muted: 176 37.5% 20.1%;
    --muted-foreground: 176 7.5% 56.7%;

    --popover: 176 50% 8.71%;
    --popover-foreground: 176 7.5% 98.35%;

    --card: 176 50% 8.71%;
    --card-foreground: 176 7.5% 98.35%;

    --border: 176 37.5% 20.1%;
    --input: 176 37.5% 20.1%;

    --primary: 176 75% 67%;
    --primary-foreground: 176 7.5% 6.7%;

    --secondary: 176 37.5% 20.1%;
    --secondary-foreground: 176 7.5% 98.35%;

    --accent: 176 37.5% 20.1%;
    --accent-foreground: 176 7.5% 98.35%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 176 7.5% 98.35%;

    --ring: 176 75% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.dotPattern {
  background-image: radial-gradient(rgb(35, 40, 68) 1px, transparent 1px);
  background-size: 25px 25px;
}

.use-automation-zoom-in {
  animation: automation-zoom-in 0.5s;
}

@keyframes automation-zoom-in {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
